{{grid-plot
    class="derivative"
    lines=gridLines
    transform=(if isTransformed linearApproxFn identity)
}}
{{grid-plot
    lines=gridLines
    transform=(if isTransformed selectedTransform.fn identity)
    markedPoint=markedPoint
}}
<button class="button toggle-transform" {{action "toggle" "isTransformed"}}>
  {{if isTransformed 'Reset' 'Apply Transform'}}
</button>
<div class="controls-toggle {{if controlsOpen 'open'}}" {{action "toggle" "controlsOpen"}}>
  {{fa-icon 'cog' size=2}} Details
</div>
{{#if controlsOpen}}
  <div class="controls">
    <h3>Selected Transform</h3>
    {{#power-select
      options=availableTransforms 
      selected=selectedTransform
      searchEnabled=false
      onchange=(action (mut selectedTransform))
      as |transform|
    }}
      {{latex-expression transform.fnTex class="selectable-transform"}}
    {{/power-select}}
    <h3>Selected Point</h3>
    {{latex-expression markedPointTex}}
  </div>
{{/if}}
