{{grid-plot
    class="derivative"
    lines=gridLines
    transform=(if isTransformed linearApproxFn identity)
    markedPoint=markedPoint
    shouldAnimate=shouldAnimate
}}
{{grid-plot
    lines=gridLines
    transform=(if isTransformed selectedTransform.fn identity)
    markedPoint=markedPoint
    shouldAnimate=shouldAnimate
}}
{{#if selectingPoint}}
  {{point-selector
      xExtent=xExtent
      yExtent=yExtent
      initialPoint=markedPoint
      onSelect=(action "selectPoint")
  }}
{{/if}}
<button class="button toggle-transform" {{action "toggleTransform"}}>
  {{if isTransformed 'Reset' 'Apply Transform'}}
</button>
<div class="controls-toggle {{if controlsOpen 'open'}}" {{action "toggle" "controlsOpen"}}>
  {{fa-icon 'cog' size=2}} Details
</div>
{{#if controlsOpen}}
  <div class="controls">
    <h3>Selected Transform</h3>
    {{#power-select
      options=availableTransforms 
      selected=selectedTransform
      searchEnabled=false
      onchange=(action (mut selectedTransform))
      as |transform|
    }}
      {{latex-expression transform.fnTex class="selectable-transform"}}
    {{/power-select}}
    <h3>Selected Point</h3>
    <div class="selected-point-container">
      {{latex-expression markedPointTex}}
      <button class="small-button" {{action "startPointSelection"}}>Select New Point</button>
    </div>
    <h3>Derivative Matrix</h3>
    {{latex-expression derivativeMatrixTex}}
  </div>
{{/if}}
