{{grid-plot
    lines=gridLines
    transform=(if isTransformed TRANSFORM.fn IDENTITY.fn)
    markedPoint=TRANSFORM.derivativePoint
}}
{{grid-plot
    class="derivative"
    lines=gridLines
    transform=(if isTransformed TRANSFORM.derivativeFn IDENTITY.fn)
    markedPoint=TRANSFORM.derivativePoint
}}
<div class="controls">
  {{!--
  <div class="controls-toggle {{if controlsOpen 'open'}}" {{action "toggle" "controlsOpen"}}>
    {{fa-icon 'window-maximize'}} Settings
  </div>
  {{#if controlsOpen}}
    <div class="toggle-transform">
      {{#each TRANSFORMS as |transform|}}
        <label class="transform-option">
          {{one-way-radio currentTransformKey option=transform.key update=(action (mut currentTransformKey))}}
          {{latex-expression transform.tex}}
          {{latex-expression transform.derivativeTex class="derivative"}}
        </label>
      {{/each}}
    </div>
  {{/if}}
  --}}
  <button class="btn toggle-transform" {{action "toggle" "isTransformed"}}>{{if isTransformed 'Reset' 'Apply Function'}}</button>
</div>
