{{grid-plot
    lines=gridLines
    transform=selectedTransform
    state=state
}}
<button class="button toggle-transform" {{action "toggleState"}}>
  Send to {{latex-expression buttonTex}}
</button>
<div class="controls-toggle {{if controlsOpen 'open'}}" {{action "toggleControlsOpen"}}>
  {{fa-icon 'cog' size=2}} <span class="toggle-label">Settings</span>
</div>
{{#if controlsOpen}}
  <div class="controls">
    <h3>Selected Transform</h3>
    {{#power-select
      options=availableTransforms 
      selected=selectedTransform
      searchEnabled=false
      onchange=(action (mut selectedTransform))
      as |transform|
    }}
      {{latex-expression transform.fTex class="selectable-transform"}}
    {{/power-select}}
  </div>
{{/if}}
